body {
  width: 300px;
  align-content: center;
}

ul#todo-list {
  font-family: Roboto,sans-serif;
  font-size: 1rem;
}

ul#todo-list li.done {
  text-decoration: line-through;
}

ul#todo-list li {
  display: flex;
  width: 10rem;
  height: 48px;
  justify-content: space-between;
}

input#todo-input {
  width: 80%;
  height: 48px;
  border: none;
  border-bottom: 1px solid #64b5f6;
  outline: 0;
}

input#todo-input:focus {
  border-bottom: 2px solid #2286c3;
}

.remove-element {
  width: 24px;
  height: 24px;
  background-image: url('static/img/baseline-delete_forever-24px.svg');
}