html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
}

ul#todo-list {
  font-family: Roboto,sans-serif;
  font-size: 1rem;
  font-weight: bold; 
  padding: 0 1rem;
  width: 20rem;
}

ul#todo-list li {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 100%;
  height: 3rem;
}

input#todo-input {
  width: 80%;
  height: 3rem;
  border: none;
  border-bottom: 1px solid #64b5f6;
  outline: 0;
}

input#todo-input:focus {
  border-bottom: 2px solid #2286c3;
}

.toggle-todo {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  background-image: url('static/img/baseline-radio_button_unchecked-24px.svg');
}

ul#todo-list li.done {
  opacity: 0.4;
}

ul#todo-list li.done .toggle-todo {
  background-image: url('static/img/baseline-check_circle_outline-24px.svg');
}

.text-todo {
  width: 80%;
}

ul#todo-list li:hover .remove-todo {
  width: 24px;
  height: 24px;
  margin-left: auto;
  background-image: url('static/img/baseline-delete_forever-24px.svg');
}